*{
  margin: 0;
}

body {
  padding: 5% 7%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}

h1 {
  text-align: center;
  padding: 1% 0;
}

main > h2 {
  text-align: center;
  padding: 1% 0;
}